In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [23]:
from nba_api.stats.static import players
from nba_api.stats.static import teams

In [57]:
all_players = pd.DataFrame(players.get_players())
all_players = all_players[all_players['is_active'] == True]
all_active_players = all_players.drop(['is_active'],axis=1)
all_active_players

           id                 full_name first_name         last_name
21     203500              Steven Adams     Steven             Adams
23    1628389               Bam Adebayo        Bam           Adebayo
41     200746         LaMarcus Aldridge   LaMarcus          Aldridge
48    1629734            Kyle Alexander       Kyle         Alexander
50    1629638  Nickeil Alexander-Walker    Nickeil  Alexander-Walker
...       ...                       ...        ...               ...
4477   201152            Thaddeus Young   Thaddeus             Young
4479  1629027                Trae Young       Trae             Young
4482   203469               Cody Zeller       Cody            Zeller
4496  1627790                Ante Zizic       Ante             Zizic
4499  1627826               Ivica Zubac      Ivica             Zubac

[519 rows x 4 columns]

In [124]:
all_teams = pd.DataFrame(teams.get_teams())
all_teams

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [27]:
from nba_api.stats.library.parameters import SeasonAll
from nba_api.stats.endpoints import playergamelog

In [45]:
gamelog_bron = playergamelog.PlayerGameLog(player_id='2544',season='2021')
bron_df = gamelog_bron.get_data_frames()[0]

In [54]:
bron_df['PTS'].mean()

30.267857142857142

In [63]:
from nba_api.stats.endpoints import leaguegamefinder
GSW_games = leaguegamefinder.LeagueGameFinder(team_id_nullable='1610612744',season_nullable='2020-21').get_data_frames()[0]

In [65]:
GSW_games.columns

Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID',
       'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT',
       'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB',
       'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'],
      dtype='object')

In [67]:
GSW_games['Opts'] = GSW_games['PTS'] - GSW_games['PLUS_MINUS']

In [ ]:
GSW = [x for x in teams if x['full_name'] == 'Golden State Warriors'][0]
GSW_id = GSW['id']

In [127]:
def get_team_games(team, season1):
    team_id = all_teams[all_teams['abbreviation'] == team]['id']
    df = leaguegamefinder.LeagueGameFinder(team_id_nullable=team_id, season_nullable=season1).get_data_frames()[0]
    return df

In [128]:
get_team_games('CLE','2018-19')

,SEASON_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_NAME,GAME_ID,GAME_DATE,MATCHUP,WL,MIN,PTS,...,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TOV,PF,PLUS_MINUS
0,22018,1610612739,CLE,Cleveland Cavaliers,0021801209,2019-04-09,CLE vs. CHA,L,240,97,...,0.750,14,27,41,24,3,2,14,18,-27.0
1,22018,1610612739,CLE,Cleveland Cavaliers,0021801196,2019-04-07,CLE vs. SAS,L,240,90,...,0.741,10,25,35,16,14,1,17,16,-22.0
2,22018,1610612739,CLE,Cleveland Cavaliers,0021801191,2019-04-05,CLE @ GSW,L,240,114,...,0.913,12,36,48,21,9,1,5,11,-6.0
3,22018,1610612739,CLE,Cleveland Cavaliers,0021801178,2019-04-04,CLE @ SAC,L,240,104,...,0.556,10,40,50,20,3,1,20,13,-13.0
4,22018,1610612739,CLE,Cleveland Cavaliers,0021801160,2019-04-01,CLE @ PHX,L,241,113,...,0.682,18,30,48,17,5,3,9,24,-9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,22018,1610612739,CLE,Cleveland Cavaliers,0021800008,2018-10-17,CLE @ TOR,L,239,104,...,0.744,14,35,49,17,4,0,16,25,-12.0
82,12018,1610612739,CLE,Cleveland Cavaliers,0011800075,2018-10-12,CLE vs. DET,L,239,110,...,0.750,11,38,49,18,5,1,15,21,-19.0
83,12018,1610612739,CLE,Cleveland Cavaliers,0011800049,2018-10-08,CLE vs. IND,L,238,102,...,0.688,8,32,40,27,7,4,14,18,-9.0
84,12018,1610612739,CLE,Cleveland Cavaliers,0011800040,2018-10-06,CLE vs. BOS,W,241,113,...,0.871,14,37,51,15,6,4,13,29,11.0
85,12018,1610612739,CLE,Cleveland Cavaliers,0011800017,2018-10-02,CLE @ BOS,W,240,102,...,0.737,13,36,49,13,8,4,18,30,7.0